@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
html, body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    font-family: 'Caprasimo', cursive;
    background-color: rgb(93, 189, 144);
}
#view {
    margin-top: 30px;
}
#mazeContainer{
    top: 15px;
    opacity: 0;
    display: inline-block;
    margin: auto;
    border-radius: 10px;
}
#mazeContainer #mazeCanvas {
    margin: 0;
    display: block;
    border: solid 2px black;
    height: 400px;
}
input, select {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(231, 240, 234);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
input:hover, select:hover{
    background: rgb(19, 3, 243);
    box-shadow: 0 0 30px 5px rgba(35, 0, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: white;
}
input::hover, select::before{
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}
input::before, select::before{
    outline: none;
}
.custom-select {
    display: inline-block;
}
.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: 125px center;
}
#Message-Container{
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
#Message-Container #message{
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}
#page {
    text-align: center;
    height: auto;
    width: auto;
    margin: auto;
}
#page #menu {
    margin: auto;
    padding: 10px;
    height: 65px;
    box-sizing: border-box;
}
#page #menu h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 3.2rem;
}
#page #view {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}
.border {
    border: 10px white solid;
    border-radius: 10px;
}
#instructions {
    margin-top: 425px;
    color: white;
}
@media only screen and (max-width: 400px) {
    input, select {
        width: 120px;
    }
}
